body{
    background-image: url("img/moto_honda.jpg");
}
.logo{
    background-color:rgba(0, 0, 0, .5);
    height: 80px;
    padding: 20px 20px 30px 50px;
}
.logo img{
    height: 45px;
    width: 80px;
    margin-top: 0px;
    margin-bottom: 24px;
    padding-bottom: 0px;
    padding-top: 1px;
    padding-left: 2px;
    float: left;
}
.logo h1{
    float: left;
    margin: 0;
}
.logo a{
    float:right;
}
.logo nav{
    top: 30px;
    position: relative;
    float: right;
}
.logo ul{
    margin: 0;
}
.logo nav ul li{
    display: inline-block;
    width: 100px;
}
.logo nav ul li a{
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    font-family:"Helvetica neue", sans-serif;
}
.logo2{
     background-color:rgba(0, 0, 0, .5);
     height: 80px;
     padding: 20px 20px 30px 50px;
}
.logo2 img{
    height: 45px;
    width: 85px;
    margin-top: 15px;
    margin-bottom: 24px;
    padding-bottom: 0px;
    padding-top: 15px;
    padding-left: 2px;
    margin-left: 650%;
}
.logo2 h1{
    float: left;
    margin: 0%;
}
.logo2 nav{
    top: 30px;
    position: relative;
    float: right;
}
#ofertas h1{
    text-align: center;
    text-transform: none;
    color: rgb(90, 25, 90);
    font-family: "helvetica neue", sans-serif;
    margin: 0;
    line-height: 6;
    text-shadow: 2px -1px red;
}
#ofertas table{
    width: 80px;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #2a2a2a;
}
#ofertas table td, #ofertas table th{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: "helvetica neue", sans-serif;
    border: 1px #000 solid;
    padding: 25px;
}
#corpy{
    padding: 30px 0 10px 0;
    text-align: center;
}
#corpy img{
    height: 50px;
}
.img1 img{
    margin-left: 10%;
    width: 200px;
    height: 95px;
}
.p1{
    margin-left: 10%;
    margin-top: 1%;
    color: green;
}
.p2{
    margin-left: 35%;
    color: green;
    margin-top: 0%;
}
