* {
    margin: 0;
    padding: 0;
}

.card-container {
    padding: 0px 50px 10px 40px;
}

.card-container h2 {
    line-height: 5;
    color: #005881;
    font-weight: bold;
    font-family: Arial, sans-serif, "Open sans";
    margin: 0px 0px;
    text-align: center;
} 

.card-container p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0px 0px 50px 0px;
    margin: 10px;

}



/*

border: 1px solid #d5d5d5;
    border-radius: 4px;
    width: 300px;
    height: 300px;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 10px;
*/